#page-header > .container-max {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}
#searchPageTitle {
    text-align: center;
}

.myaccount {
    .small {
        font-size: 100%;
    }
}

