.dia-intro {

  @include media-breakpoint-down(md) {
    min-height: 400px!important;
  }

  &.parallax-img-container .parallax-img-container-inner[style^='background-image'] {
    background-size: cover;
    background-position: center;
  }

  .w-100 {
    @include sizes("padding-top", 80, 150, 250, true);
  }

  &__headline {
    .bg-appearance {
      background-color: transparent!important;
      color: $white!important;

      h1 {
        @include sizes("font-size", 30, 40, 50);
        @include sizes("line-height", 35, 50, 60);
      }
    }
  }
}


.dia-home-kacheln {

  &__img-1 {
    @include sizes("margin-top", -50, -50, -50, true);
  }
  &__img-3 {
    @include sizes("margin-top", 10, 150, 150, true);
  }

  &--fashion {
    .dia-home-kacheln__img-1 {
      @include sizes("margin-top", 20, -50, -50, true);
    }
  }

  .widget-image-box {
    box-shadow: 0 0 30px #0000001a;
    transform: translate(0, 0);
    transition: all ease 0.4s;

    &:hover {
      box-shadow: 0 0 30px #00000061;
      transform: translate(0, -10px);
    }
  }
  .widget-caption {
    background-color: $white!important;
    color: $primary!important;
    padding: .8rem!important;

    @include media-breakpoint-down(sm) {
      padding: .5rem!important;
    }

    h3 {
      @include media-breakpoint-down(sm) {
        font-size: 1rem;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}

.dia-article-list {

  .col-12.col-sm-6.col-md-3 {
    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  .bg-appearance {
    background-color: transparent!important;
    color: $gray-dark!important;

    a {
      color: $gray-dark!important;

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }

  .widget-item-list-caption {
    @include media-breakpoint-down(sm) {
      display: flex;
      flex-wrap: wrap;
    }

    .widget-item-list-inline-caption {
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }

  .cmp-product-thumb {
    border: none!important;
    border-radius: 0!important;
    padding: 0;
    box-shadow: 0 0 0 #0000001a;
    transition: all ease 0.4s;
    transform: translate(0, 0);

    &:hover {
      box-shadow: 0 0 30px #0000001a;
      transform: translate(0, -10px);
    }
  }

  .owl-carousel .owl-stage-outer {
    padding: 50px 0;
  }
}

.dia-h3 {
  .bg-appearance {
    background-color: transparent!important;
    color: $gray-dark!important;

    h1, h2, h3 {
      letter-spacing: 0!important;
      line-height: 2.5rem!important;
    }
  }
}

.dia-usp {
  li {
    display: flex;

    i {
      width: 20px;
    }
    a {
      width: calc(100% - 20px);
    }
  }
}