.input-unit {
    display: flex;
    flex-direction: column;
    @extend .form-group;

    input {
        @extend .form-control;
        order: 2;
    }

    select {
        order: 2;
    }

    label {
        order: 1;
        display: block;
        @extend %small;
        font-weight: bold;
    }
}
.form-control {
    min-height: 46px;
}


.file-input {
    height: 38px;
    cursor: pointer;

    >input[type="file"] {
        width: 0;
        height: 0;
        padding: 0;
        visibility: hidden;
    }

    >.input-unit-preview {
        height: 38px;
    }

    >.input-unit-btn {
        content: "";
        position: absolute;
        width: 38px;
        height: 38px;
        background-color: $border-color;
        display: block;
        right: 0;
        top: 0;

        i {
            margin: 10px;
            width: 18px;
            height: 18px;
            font-weight: 300;
            background-color: $border-color;
            color: $body-color;
        }
    }

    &.success .input-unit-btn,
    &.success .input-unit-btn i {
        background-color: $success;
        color: #fff;
    }

    &.error .input-unit-btn,
    &.error .input-unit-btn i {
        background-color: $danger;
        color: #fff;
    }
}

.qty-box .qty-btn-container .qty-btn>.qty-sign {
    left: 50%;
    transform: translate(-50%,-50%);
}
.qty-box .qty-btn-container .qty-btn:not(.disabled):hover {
    background: transparent;
}

.search-submit,
.cmp-search-box {
    background: $white !important;
}
