.dia-footer {
	background: $dia-footer-bg;
	color: $dia-footer-color;
	border-top: 1px solid darken($dia-footer-bg, 10%);
	padding: 5rem 0;
	@include unitize("margin-top", 100);
	&__headline {
		font-weight: bold;
		margin-bottom: 10px;
	}
}
.dia-footer-list {
	&__ul {
		padding: 0;
		list-style: none;
		line-height: 26px;
		a {
			color: $dia-footer-link-color;
			&:hover, &:active {
				color: darken($dia-footer-link-color, 20%);
			}
		}
		&--inline {
			display: flex;
			list-style: none;
			justify-content: center;
			align-items: center;
			flex-flow: row wrap;
			li {
				margin-right: 10px;
				margin-left: 10px;
			}
		}
	}

	&__link {
		color: $dia-gray-lighter;
		&:hover, &:active {
			color: $white;
		}
	}
}

.dia-footer__copyright {
	color: $dia-footer-copyright-color;
	background: $dia-footer-copyright-bg;
	font-size: 12px;
	padding: 10px 0;
	&--price {
		@include media-breakpoint-down(sm) {
			text-align: center;
		}
	}
	&--brand {
		text-align: center;
		@include media-breakpoint-up(sm) {
			text-align: right;
		}
		a {
			color: $dia-footer-copyright-color;
			&:after {
				content: "";
				position: absolute;
				height: 16px;
				width: 13px;
				top: 2px;
				margin-left: 5px;
				background-repeat: no-repeat;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 12' fill='%23#{$dia-footer-copyright-logo}'%3E%3Cpath d='M2.946 2.342L4.486.469h.483c2.852 0 4.499 2.187 4.499 5.292 0 3.106-1.629 5.276-4.499 5.276H1.634v-4.99H-.093L1.634 3.94l2.075-.005v5.232h1.26c1.536 0 2.374-1.395 2.374-3.407 0-2.09-.804-3.422-2.374-3.422H3.71l-.763.004z'/%3E%3C/svg%3E");
			}
		}
	}
}

.dia-footer-newsletter {
	padding: 0 15px;
	form {
		div:nth-child(2) {
			display: inherit;
		}
		.input-group-btn .btn {
			border-radius: $border-radius;
		}

		.btn-appearance {
			padding: 0.5rem 2rem!important;
		}
	}
}
.dia-footer-image-list{
	&__ul{
		display: flex;
		list-style: none;
		justify-content: center;
		// align-items: center;
		padding: 0;
		margin-bottom: 0;
		@include unitize("margin-top", 50);
		flex-flow: row wrap;
	}
	&__li {
		background: $dia-gray-lightest;
		padding: 10px;
		border-radius: .3rem;
		min-width: 110px;
		text-align: center;
		margin-right: 10px;
		margin-left: 10px;
		flex: 2 0 auto;
		@include media-breakpoint-down(md) {
			margin-bottom: 14px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		img {
			max-height: 50px;
			max-width: 80px;
		}
	}
}