/*
	rot #b92a38
	grün #42974c
*/

.dia-footer__copyright.test{
	display: none !important;
}

/* Anpassung für Formatierungsfehler in Produkttexten */
.tab-pane p span {
	font-family: inherit !important;
	font-size: inherit !important;
	color: inherit !important;
}

/* Grid */

.item-details__book-details span{
    float:left;
    width:100%;
    display: block;

}
.item-details__subtitle {
 
}