/*
	rot #b92a38
	grün #42974c
*/

.dia-footer__copyright{
	display: none !important;
}

/* Grid */

.item-details__book-details span{
    float:left;
    width:100%;
    display: block;
    
}
.item-details__subtitle {
 
}