//
// Variables
// --------------------------------------------------

$white: #ffffff;
$black: #000000;

$dia-gray-darker:       #292c2f; 
$dia-gray-dark:         #43484D; 
$dia-gray:              #4B545F;
$dia-gray-light:        #86939E;
$dia-gray-lighter:      #d1d9e0;
$dia-gray-lightest:     #f4f4f4; 

$dia-primary: #005d79;
$dia-primary-dark:      darken($dia-primary, 10%);
 
$dia-secondary:         $dia-gray-dark;
$dia-default:           $dia-gray-dark;
$dia-info:              #4db6ac;
$dia-danger:             #f44336;
$dia-success:           #89C34A; 
$dia-warning:           #f48536;

$dia-text:              $dia-gray-dark; 
$dia-body-bg:           $dia-gray-lightest;

$dia-responsive-font-auto: true;

$theme-colors: ();
$theme-colors: map-merge((
        "primary": $dia-primary,
        "secondary": $dia-secondary,
        "success": $dia-success,
        "info": $dia-info,
        "warning": $dia-warning,
        "danger": $dia-danger,
        "white": $white
    ),
$theme-colors);


//
// TYPO IN PX
// --------------------------------------------------

$dia-font-family-sans-serif: 'Inter', Helvetica, Arial, sans-serif !default;

// Desktop Font Size

$dia-h1:               32; 
$dia-h2:               26; 
$dia-h3:               20; 
$dia-h4:               20; 
$dia-h5:               18; 
$dia-h6:               16; 

// Body Font Size
$dia-text-size:        14;

$dia-display-1:        32; 
$dia-display-2:        26; 
$dia-display-3:        24; 

//
// Header 
// --------------------------------------------------

$dia-top-bar-bg:                $white;
$dia-top-bar-border:            darken($dia-top-bar-bg ,5%);
$dia-top-bar-color:             $dia-gray-light;
$dia-top-bar-basket-btn:        darken($dia-top-bar-bg ,5%);
$dia-top-bar-basket-color:      $white;

$dia-shop-nav-bg:               $white;
$dia-search-input-bg:           $dia-gray-lightest;

$dia-navbar-bg:                 $white;
$dia-navbar-link-color:         $dia-text;
$dia-navbar-link-color-hover:   $dia-primary;
$dia-navbar-link-color-active:  $dia-primary;
$dia-navbar-dd-link-color:      $dia-text;
$dia-navbar-border-color:       darken($dia-gray-lightest, 5%);

//
// Footer
// --------------------------------------------------
$dia-footer-bg:                 $white;
$dia-footer-color:              $dia-text;
$dia-footer-link-color:         lighten($dia-footer-color, 30%);

$dia-footer-features-bg:        darken($dia-gray-light, 10%);
$dia-footer-features-color:     $dia-gray-dark; 

$dia-footer-copyright-bg:       darken($dia-gray, 10%);
$dia-footer-copyright-color:    $dia-gray-light;
$dia-footer-copyright-logo:     86939E;

//
// ICONS
// --------------------------------------------------
$fa-shopping-cart-fill-header:  $dia-text;
$fa-shopping-cart-fill:         $white; 
$fa-shopping-bag-fill:          $white; 
$fa-user-fill:                  $dia-text; 
$search-icon-fill:              $dia-text;
$dia-navbar-mobile-fill:        $dia-text; 

//
// Header + Footer Checkout
// --------------------------------------------------
$dia-header-checkout-bg:        $white;
$dia-header-checkout-color:		$dia-text;

$menu-bg-sm:                    $white;
$menu-breadcrumb-bg:            $dia-top-bar-bg;
$menu-color-sm:                 $dia-text;

//
// Basics
// --------------------------------------------------
$border-radius:                 .3rem;
$shadow:                        1px 2px 3px 0 rgba(0,0,0,0.10);
$border-width:                  1px;
$dia-border-color:              #d1d9e0;
 
$btn-font-weight:               bold;

// CERES
$text-muted:					$dia-gray-light;

// --------------------------------------------------
// Weitere Variablen findet ihr in der _user-variables.scss
// --------------------------------------------------